<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.edu.hospital.model.repository.HospitalMapper">
    <select id="getHospitalList" resultType="com.ssafy.edu.hospital.HospitalDto">
        SELECT 
            business_no as businessNo,
            business_name as businessName,
            industry_type as industryType,
            sido_name as sidoName,
            gugun_name as gugunName,
            administrative_dong_name as administrativeDongName,
            jibun_main as jibunMain,
            jibun_sub as jibunSub
        FROM hospital;
    </select>
</mapper>